/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body{
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Calibri (Body),Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

.bold{
    font-weight: bold;
}
/* ===================
    ALL: Base Theme
   =================== */

.header-container {
    border-bottom: 20px solid #6633FF;
}
.header-art{
    padding: 0px;
    margin: 0px;
}

#imgArticulo{
    width: 100px;
    height: 80px;
    margin: 10% 0;
    float: left;
    padding-left: 10px;
}

#imagen{
    float: left;
    width: 100%;
}

#imagen h4{
    float: right;
    font-size: 2em;
    padding-right: 30px;
}

.footer-container,
.main aside {
}

.header-container,
.footer-container,
.main aside {
    background: #6633FF;
}

.title {
    color: #330066;
    text-align: center;
    text-shadow: none;
}

/* ==============
    MOBILE: Menu
   ============== */

.buscador{
    display: none;
}

.resultadosBuscador{
    display: none;
}

nav {
    width: 100%;
}


.wrapper-menu{
    width: 100%;
    margin: 0%;
}

.wrapper-menu h1 img{
    width: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
}
nav a {
    display: block;
    margin-bottom: 10px;
    padding: 5%;
    margin: 5px 5px;
    border: 3px solid #130294;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #F1FA48;
    text-shadow: 1px 1px 5px #F1FA48;

    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;

    color: #130294;
    background: #6633FF;
}

nav a:hover{
    color: #130294;
    background-color: #F1FA48;
    box-shadow: 2px 2px 2px #130294;
    text-shadow: 1px 1px 5px #6633FF;
}

nav a:hover {
    text-decoration: none;
}

/*===============
    Articulo Menu
   =============== */

.menu{ 
    float: left;
    width: 100%;
}

/*===============
    Sucursales Menu
   =============== */

.header-subpagina-sucursales h4{
    float: right;
    font-size: 27px;
    padding: 17px 7px 0 0;
}

#imagen-sucursales h4{
    float: right;
    font-size: 26px;
    padding-right: 30px;
}


/*===============
    Promociones Menu
   =============== */

#imagen-promociones h4{
    float: right;
    font-size: 24px;
    padding: 5%;
}

/*===============
    Contactenos Menu
   =============== */

.header-subpagina-contactenos h4{
    float: right;
    font-size: 27px;
    padding: 17px 7px 0 0;
}

#imagen-sucursales h4{
    float: right;
    font-size: 26px;
    padding-right: 30px;
}


/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main-container h1 {
    font-size: 2em;
    text-align: center;
}

.main-container #especificaciones{
    padding-left: 20px;
    text-align: center;
}

.main article h2 {
    text-align: center;
}

.main aside {
    color: #130294;
    padding: 10px 5% 10px;
    text-align: center;
}

#volanteDiv{
    display: none;
}

.main aside h3,
.main aside h4{
    text-align: center;
}


#signCompany{
        float: left;    
   }

.footer-container footer {
    text-align: center;
    color: #130294;
    padding: 20px 0;
    font-style: italic;
    margin-bottom: 0px;
}
.footer-container footer img{
    width: 120px;
    height: 120px;
}

.minipic{ 
    width: 100%;
}

.linkSeeMore{
    text-align: right;
    padding-right: 5px;
}

/*===============
    Catalogo Main
   =============== */

.main-container-catalogo hr{
    width: 90%;
    margin:auto;
}
.main-container-catalogo li{
    list-style: none;  
    padding-top: 15px;
    text-align: center;
}

.main-container-catalogo img{
    width: 100px;
    border:1px solid Black;
    float: left;
}

.main-container-catalogo ul{
    padding-left: 5%;
}

.main-container-catalogo label{
    font-weight: bold;
}

.descripcionArticulo{
    display: none;
}
/*===============
    Promociones Main
   =============== */

.main-container-promociones{
    width: 100%;
    height: auto;
    text-align: center;
}

.promociones-container{
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    margin-bottom: 6%;
    width: 250px;
    height: auto;
    border: 2px solid black;
    border-radius: 15px;
    background-color: #6633FF;
}

.imgPromocion{
    width: 80%;
    height: auto;
    border:2px solid #0A0A2A;
    border-radius: 10px;
}

.contenido-liquidacion{
    margin-bottom: 10px;
}

/*===============
    Sucursales Main
   =============== */
.main-container-sucursales{
    text-align: center;
    
}

.sucursales-container{
    color: #0A0A2A;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    margin-bottom: 6%;
    width: 250px;
    height: auto;
    box-shadow: 2px 2px 2px black;
}

.imagen-sucursal{
    width: 80%;
    height: auto;
    border:2px solid #0A0A2A;
    border-radius: 10px;
}

/*===============
    Contacto Main
   =============== */

.primera-sucursal-contacto{
    display: none;
}
.main-container-contactenos{
    width: 90%;
    border: 1px solid black;
    margin: 5% 4%;
}

#formulario{
    padding: 4%;
}
.InputsForm{
    margin-bottom: 8%;
}

.InputsForm input{
    float: right;
    width: 70%;
    margin-top: 0px;
}

.comentario-default{
    color: grey;
    font-style: italic;
    width: 100%;
    height: 190px;
}

.comentario{
    color: black;
    width: 100%;
    height: 190px;
}

.btnEnviar{
    margin: 0px 35%;
}

#formulario label{
    width: 100px;    

}

.ui-btn-inner{
    display: none;
}

.btnEnviar input{
    cursor: auto;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}







/* ==========================================================================
   Media Queries
   ========================================================================== */


    




@media only screen and (min-width: 750px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }


    .title{
        width:30%;
        padding-left: 2%;
    }
/* ============
    WIDE: Menu
   ============ */
    .header-container,
    .wrapper-menu{
        border-bottom: none;
    }
    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }
    nav li a{
        width: 18%;
        margin: 0px 5px;
    }
    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }
    .title {
        float: left;
    }

    nav {
        float: right;
        width: 65%;
        margin-top:100px;
    }
    
    /*===============
        Articulo Menu
        =============== */

    #productoTitle{
        display: none; 
    }

    #imagen{
        width: 20%;
    }

    #imgArticulo{
        width: 285px;
        height: auto;
    }

    .menu{ 
        width: 80%;
    }

    .nav-articulo{
        width: 80%;
    }


    /*===============
        Promociones Menu
        =============== */
    #imagen-promociones{
        width: 20%;
    }

    .menu-promociones{
        float: right;
        width: 70%;
    }

    .menu-promociones nav{
        width: 95%;
    }
    
    /*===============
        Sucursales Menu
        =============== */
    #imagen-sucursales{
        width: 20%;
    }

    .menu-sucursales{
        float: right;
        width: 70%;
    }

    .menu-sucursales nav{
        width: 95%;
    }
    

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
        height: auto;
        height: inherit;
    }

    .wrapper-article{
        height: inherit;
    }

    .section{
        height: 350px;
        float: left;
    }

    .wrapper-article article{
        padding-left: 20px;
    }

    .section p{
        padding: 0px;
        margin: 0px;
    }
    .section .minipic{
        width: 280px;
    }

    .linkSeeMore{
       text-align: center;
    }

    .imageContainer{
        height: 230px;
    }

    #volanteDiv{
        display: block;
    }

    /*===============
        Articulo Main
        =============== */


    .section .picArticulo{
        width: 100%;
    }

    .section-Articulo{
        height: inherit;
    }

    .section-Articulo p{
        height: inherit;
    }

    .wrapper-article-articulo{
        margin-left: 215px;
    }

    .wrapper-article-articulo h1{
        text-align: left;
        padding-left: 115px;
    }

    .nav-subpagina{
        width: 80%;
    }

    /*===============
        Catalogo Main
        =============== */

    .main-container-catalogo img{
        width: 200px;
    }

    .descripcion{
        text-align: center;
    }

    .descripcionArticulo{
        padding-top: 20px;
        display: block;
        font-style: italic;
        font-weight: normal;
    }
    
    .descripcion .nombre-articulo{
        font-weight: bold;
    }

    .main-container-catalogo li{
        padding-bottom: 33px;
    }


    /* ============
        Promociones Main
        ============ */
    #primera-promocion{
        float: left;
        margin-left: 19%;
        margin-top: 0px;
    }    

    #segunda-promocion{
        margin-left: 55%
    }

    /*===============
        Sucursales Main
        =============== */
    .main-container-sucursales{
        height: 450px;
        margin-left: 4%;
    }

    .sucursales-container{
        float: left;
        margin: 50px 20px 0px 20px;
    }

    /*===============
        Contacto Main
        =============== */

    .main-container-contactenos{
        font-size: 18px;
        color: white;
        background-color: #6633FF;
        width: 40%;
        margin: 5% auto;
        border: 2px solid black;
        border-radius: 15px;
        box-shadow: 2px 2px 2px black;
    }

    .primera-sucursal-contacto{
        text-align: center;
        display: block;
        float: right;
        float: right;
        margin: -47% 7% 0% 0%;
    }

    .InputsForm input {
        width: 75%;
    }

    .main-container-contactenos{
        width: 95%;
    }

    #formulario{
        padding: 2%;
        width: 40%;
        border: 1px solid black;
        margin: 5%;
    }

    /* ============
        WIDE: Footer.
        ============ */
   #align-footer{
        padding: 0px;
        height: 150px;
   }

   #signCompany{
        width: 50%;
        float: left;    
        padding: 30px 0px 20px 125px;
   }

   #imageFooter img{
        padding:0px 200px 20px 0px;

    }


    /* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}






/* ==========================================================================
   Media Queries
   ========================================================================== */


    



    

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
/* ===============
    Maximal Menu
   =============== */
    .wrapper-menu{
        width: 90%;
        margin-left: auto;
    }

    nav {
        width: 65%;
    }
    nav li a{
        width: 18%;
    }

    .buscador{
        display: block;
        float: right;
        margin-right: 40px;
        margin-top: 25px;
        width: 40%;
    }

    .resultadosBuscador{
        border: 2px solid #6633FF;
        width: 85%;
        margin: 0% auto;
        padding: 2%;
        display: block;
        border-radius: 10px;
        max-height: 500px;
    }

    /*===============
        Sucursales Menu
        =============== */


    #imagen-sucursales{
        width: 20%;
    }

    .menu-sucursales{
        float: right;
        width: 75%;
    }

    .menu-sucursales nav{
        width: 80%;
    }


    /*===============
        Promociones Menu
        =============== */
    #imagen-promociones{
        width: 20%;
    }

    .menu-promociones{
        float: right;
        width: 75%;
    }

    .menu-promociones nav{
        width: 80%;
    }
/* ===============
    Maximal Main
   =============== */

   .wrapper-article article {
        padding: 0px 0px 0px 6%;
        margin: 0px;
        width: 45%;
    }   

    .divArticulo article{
        padding: 0px 25% 0px 25%;
    }

    .main aside {
        margin-right: 5%;
    }

    /*  Articulo Main */
    .divArticulo{
        width: 100%;
        height: auto;
    }

    .divArticulo h1{
        text-align: center;
    }

    .wrapper-article-articulo{
        margin-left: 0px;
    }

    .wrapper-article-articulo h1{
        padding-left: 0px;
    }

    /*===============
        Sucursales Main
        =============== */
    .main-container-sucursales{
        height: 450px;
        margin-left: 12%;
    }

    .sucursales-container{
        float: left;
        margin: 50px 30px 0px 30px;
    }
    /*===============
        Contacto Main
        =============== */

    .main-container-contactenos{
        font-size: 18px;
        color: white;
        background-color: #6633FF;
        width: 40%;
        margin: 5% auto;
        border: 2px solid black;
        border-radius: 15px;
        box-shadow: 2px 2px 2px black;
    }

    .primera-sucursal-contacto{
        float: right;
        margin: -42% 13% 0% 0%;
        display: block;
        float: right;
        text-align: center;
    }

    .main-container-contactenos{
        width: 95%;
    }

    #formulario{
        padding: 2%;
        width: 40%;
        border: 1px solid black;
        margin: 5%;
    }

    .InputsForm input {
        width: 80%;
    }
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}